

.open-sans-normal {
  font-family: "Open Sans", sans-serif;
  font-optical-sizing: auto;
  font-style: normal;
  font-variation-settings:
    "wdth" 100;
}

/* shared style */
.text-primary{
    color: #FD6E0A;
}
.dark-2{
    color: #474747;
}
.btn-primary{
    background-color: #FD6E0A;
    font-weight: bold;
    font-size: 20px;
    color: white;
    border: none;
    padding: 15px 30px;
    border-radius: 5px;
}
.header{
    background-image: url(../images/developer.png), url(../images/header_bg.png); 
    background-repeat: no-repeat;
    background-size: 96px, auto;
    background-position: top left, bottom right;

}
/* nav styles */
nav{
    display: flex;
    align-items: center;
    justify-content: space-between;
    margin: 0 200px;
}
.nav-title{
    font-weight: 800;
    font-size: 45px;
}
nav ul{
    display: flex;
    align-items: center;
}
nav ul li{
    list-style: none;
    margin-right: 50px;
}
nav li a{
    text-decoration: none;
    font-size: 20px;
}

/* banner styles */
.banner{
    display: flex;
    justify-content: space-between;
    margin: 0 35px 0 200px;
}
.banner-content #contact{
    background-color: white;
    border: 2px solid #FD6E0A;
    font-weight: bold;
    font-size: 20px;
    color: #FD6E0A;
    padding: 15px 30px;
    border-radius: 5px;
}
.banner-content{
    max-width: 500px;
}
.banner-greetings{
    font-size: 40px;
    font-weight: 510;
}
.banner-title{
    font-weight: bold;
    font-size: 72px;
}
.banner-pro-pic{
    width: 500px;
}













