

.open-sans-normal {
  font-family: "Open Sans", sans-serif;
  font-optical-sizing: auto;
  font-style: normal;
  font-variation-settings:
    "wdth" 100;
}

/* shared style */
.secondary-bg{
    background-color: #FFF8F3;
}
.text-primary{
    color: #FD6E0A;
}
.dark-2{
    color: #474747;
}
.btn-primary{
    background-color: #FD6E0A;
    font-weight: bold;
    font-size: 20px;
    color: white;
    border: none;
    padding: 15px 30px;
    border-radius: 5px;
}
.header{
    background-image: url(../images/developer.png), url(../images/header_bg.png); 
    background-repeat: no-repeat;
    background-size: 96px, auto;
    background-position: top left, bottom right;
}
.section-title{
    font-weight: bold;
    font-size: 35px;
    color: #181818;
}
.secton-description{
    font-size: 18px;
    color: #757575;
}
.text-center{
    text-align: center;
}
/* nav styles */
nav{
    display: flex;
    align-items: center;
    justify-content: space-between;
    margin: 0 200px;
}
.nav-title{
    font-weight: 800;
    font-size: 45px;
}
nav ul{
    display: flex;
    align-items: center;
}
nav ul li{
    list-style: none;
    margin-right: 50px;
}
nav li a{
    text-decoration: none;
    font-size: 20px;
}

/* banner styles */
.banner{
    display: flex;
    justify-content: space-between;
    margin: 0 35px 0 200px;
}
.banner-content #contact{
    background-color: white;
    border: 2px solid #FD6E0A;
    font-weight: bold;
    font-size: 20px;
    color: #FD6E0A;
    padding: 15px 30px;
    border-radius: 5px;
}
.banner-content{
    max-width: 500px;
}
.banner-greetings{
    font-size: 40px;
    font-weight: 510;
}
.banner-title{
    font-weight: bold;
    font-size: 72px;
}
.banner-pro-pic{
    width: 500px;
}

/* main styles */
main{
    max-width: 970px;
    margin: 0 auto;
}
main section{
    margin-top: 100px;
    margin-bottom: 50px;
}
/* about styles */
.about{
    border-radius: 10px;
    padding: 100px 130px;
    text-align: center;
}
.about-items{
    display: flex;
    justify-content: space-around;
}
.item-description{
    font-weight: 600;
}
/* skills section styles */
.skills-container{
    display: flex;
    gap: 20px;
}
.skill{
    padding: 28px;
    border-radius: 5px;
    box-shadow: 0px 6px 50px 0px rgba(0, 0, 0, 0.06);
}
/* resume section style */
.resume-container{
    display: flex;
    gap: 24px;
}
.exp-subtitle{
    font-size: 20px;
    font-weight: 600;
    margin-bottom: 15px;
}
.exp-description, .exp-subtitle{
    color: #757575;
}
.resume hr{
    margin: 20px 1px;
}
.resume-download-cv{
    margin-top: 50px;
}



